@charset "UTF-8";

html, body {
  background-color: #000029ca;
}

h1 {
  margin-bottom: 20px;
}

.placa {
  background-color: white;
  box-shadow: 0px 0px 20px #735fffca;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  margin: 50% auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 95%;
  padding: 10px;
  font-size: 1.2em;
  margin: 5px 0;
  border: none;
  background-color: #d8d8ffca;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  background-color: darkgreen;
  border: none;
  margin-top: 10px;
  color: white;
  font-weight: bold;
}

p {
  font-size: 0.8em;
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  background-color: darkgreen;
  padding: 5px;
  border-radius: 5px;
}